<div class= "wrapper">
  <footer>
    <div class= "footer-top">
      <div class = "company-name">Share-Travel</div>
      <div class= "search-box">
        <input id= "sbox" type= "text" placeholder= "キーワードを入力" maxlength= "1000">
        <input id= "sbtn" type= "submit" value= "&#xf002;" class= "fas">
      </div>
    </div>
    <div class= "footer-bottom">
      <div class= "footer-option">
        <a href= "#" class= "share">SHARE</a>
        <a href= "#" class= "category">CATEGORY</a>
        <a href= "#" class= "user">USER</a>
        <a href= "#" class= "account">ACCOUNT</a>
      </div>
    </div>
  </footer>
</div>